certifi==2020.6.20
click==8.0.3
dataclasses==0.8
flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
jinja2==3.0.2
markupsafe==2.0.1
nltk==3.2.4
six==1.16.0
textblob==0.15.3
werkzeug==2.0.3
wincertstore==0.2
